* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

h2 {
  font-size: 1.4em;
}

.login-section {
  border: 2px solid rgb(68, 166, 223);
  border-radius: 1em;
  width: 25%;
  height: 20%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3em;
}
